/* style.css */

#backgroundImage {
    z-index: 100;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: aqua;
    position: fixed;
    display: none;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('Images/4.background.jpg');
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#dollar_container {
    height: -webkit-fill-available;
    justify-content: center;
    /* change image by changing the number in front */
    background-image: url('Images/3.background.jpg');
    background-size: cover;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    align-items: center;
    align-content: center;
    align-self: center;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#main_container {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    text-align: center;
}

#container {
    justify-content: space-between;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
    align-self: self-start;
}

li {
    list-style-type: none
}

#dollar {
    width: 256px;
    height: 256px;
    background-image: url('dollar.png');
    background-size: cover;
    cursor: pointer;
    margin-bottom: 20px;
}

#money {
    font-size: 24px;
    color: #4CAF50;
}

#shop {
    width: 400px;;
    background-color: #fff;
    height: -webkit-fill-available;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.upgrade_price {
    pointer-events: none;
    width: -webkit-fill-available;
    margin: 0;
}

.upgrade {
    margin: 0px 10px 10px;
    text-align: center;
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 0px 10px 0px 0px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}

.timeWarp {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}

.adButton {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}

.adButton:hover {
    background-color:#ffcc00;
}

.adButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}


.timeWarp:hover {
    background-color:#ffcc00;
}

.timeWarp:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}



.upgrade:hover {
    background-color: #45a049;
}

.upgrade:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.upgrade.highlight {
    background-color: #ffcc00;
    transition: background-color 0.3s;
}

#upgrade-list {
    padding: 0;
}

#dollar:active {
    transform: scale(0.95);
}

.upgrade-image {
    pointer-events: none;
    width: 64px;
    height: 64px;
    margin-right: 10px;
}

.item {
    display: flex;
    align-items: center;
}

.item-info {
    padding-right: 10px;
}

.item-info p {
    /* Votre style pour les paragraphes dans la div .item-info */
    margin: 0px 0px 10px;
}