/* style.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#dollar_container {
    /* change image by changing the number in front */
    background-image: url('Images/3.background.jpg');
    background-size: cover;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    align-items: center;
    align-content: center;
    align-self: center;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#main_container {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    text-align: center;
}

#container {
    justify-content: space-between;
    width: -webkit-fill-available;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

#dollar {
    width: 256px;
    height: 256px;
    background-image: url('dollar.png');
    background-size: cover;
    cursor: pointer;
    margin-bottom: 20px;
}

#money {
    font-size: 24px;
    color: #4CAF50;
}

#shop {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.upgrade {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}

.upgrade:hover {
    background-color: #45a049;
}

.upgrade:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.upgrade.highlight {
    background-color: #ffcc00;
    transition: background-color 0.3s;
}

#dollar:active {
    transform: scale(0.95);
}
